Repository roboblazers7617/2025Robot, pull requests merged in 2025-03, with the labels that each got.

#151 Remove the PhysicalConstants mass and COG
  src/main/java/frc/robot/Constants.java
Labels: drivetrain

#152 Re-enable PDH logging
  src/main/java/frc/robot/Robot.java
Labels: logging, tested

#161 Mostly Functional Intake and Scoring
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: tested, elevator

#162 Tune Drivetrain
  src/main/deploy/swerve/controllerproperties.json
  src/main/deploy/swerve/modules/backleft.json
  src/main/deploy/swerve/modules/backright.json
  src/main/deploy/swerve/modules/frontleft.json
  src/main/deploy/swerve/modules/frontright.json
  src/main/deploy/swerve/modules/physicalproperties.json
  src/main/deploy/swerve/modules/pidfproperties.json
Labels: drivetrain, tested, tuning

#131 Add a controllerSpeedMultiplier to Drivetrain
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/DrivetrainControls.java
Labels: drivetrain, needs testing

#154 Host the deploy directory over HTTP
  src/main/java/frc/robot/Robot.java
Labels: dashboard, tested

#166 Add big gamepiece mode display
  src/main/deploy/elastic-layout.json
  src/main/java/frc/robot/Dashboard.java
  src/main/java/frc/robot/RobotContainer.java
Labels: dashboard, tested

#163 Add buttons to pathfind to scoring poses
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: drivetrain, controls, tested

#174 Enable allianceRelativeControl in driveGeneric
  src/main/java/frc/robot/subsystems/drivetrain/DrivetrainControls.java
Labels: drivetrain, controls, tested

#172 Add a failsafe to ensure AutoBuilder has been configured
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Auto.java
Labels: drivetrain, auto, tested

#148 Add a zeroGyroWithAllianceCommand to Drivetrain
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
Labels: drivetrain, tested

#188 Update climb to match hardware changes
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Climber.java
Labels: tested, climb

#194 Add an empty command to elevator
  src/main/deploy/elastic-layout.json
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: dashboard, tested, elevator

#197 Change the Limelight's tag ID filter based on alliance color
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Dashboard.java
  src/main/java/frc/robot/subsystems/vision/Vision.java
Labels: vision, needs testing

#198 Add a turn to reef face button
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/DrivetrainControls.java
  src/main/java/frc/robot/util/PoseUtil.java
Labels: drivetrain, controls, needs testing

#203 Clean up Pathfinding code
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/util/PoseUtil.java
Labels: drivetrain, needs testing
